
img{
    width: 50%;
}
  
  #loginBtn{
      background-color:#00ffff;
  }
  #frm{
      height: 250px;
      top:10vh;
      border-radius: 15%;
      width: 270px;
  }
  form{
    margin-top: 25px;
  }
  
  .wrapdiv{
    padding: 1% 4%;
    display: block;
    margin: 5% 15%;
    text-align: center;
  }