<div class="wrapdiv">
    <form  novalidate  (submit)="SignUp(frm)" #frm="ngForm">
        <div>
        <mat-form-field appearance="fill">
            <mat-label>User name</mat-label>
            <input matInput placeholder="username"  [(ngModel)]="newUser.username" name="username" type="text" #username="ngModel" required minlength="5" maxlength="20">
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is required
                <div></div>
            </mat-error>  
        </mat-form-field>
        </div>
        <!--<div>
            <div class="form-group row">  
                <label for="pass" class="col-md-4 col-form-label text-md-right">Password</label>  
                <div class="col-md-6">  
                    <input type="password" [ngModel]='newUser.userpassword' class="form-control" name="txtPassword" #txtPassword="ngModel" compare-password="txtConfirmPassword" parent="true" required>  
                    <span class="text-danger" *ngIf="txtPassword.dirty && txtPassword.errors && txtPassword.errors.required">Password is required </span>  
                </div>  
            </div>  
            <div class="form-group row">  
                <label for="confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>  
                <div class="col-md-6">  
                    <input type="password" [ngModel]='newUser.userpassword' class="form-control" name="txtConfirmPassword" #txtConfirmPassword="ngModel" compare-password="txtPassword" required>   
                    <span class="text-danger" *ngIf="txtConfirmPassword.dirty && txtConfirmPassword.errors && txtConfirmPassword.errors.required">Password is required </span>  
                    <span class="text-danger" *ngIf="txtConfirmPassword.dirty && ((txtPassword.errors && txtPassword.errors.compare) || (txtConfirmPassword.errors && txtConfirmPassword.errors.compare)) && !txtConfirmPassword.errors.required">Password Doesn't match</span>  
                </div>  
            </div> 
        </div>-->
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" name="userpassword" [(ngModel)]="newUser.userpassword" class="form-control" type="password" #userpassword="ngModel" compare-password="txtConfirmPassword" required minlength="5" maxlength="20">
      
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is required
          <div></div>
        </mat-error>
        </mat-form-field>
        </div>
       
            <div>
    
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input [(ngModel)]="newUser.useremail" name="useremail"  required type="email" matInput [formControl]="emailFormControl" placeholder="Ex.pat@example.com">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is required
                    <div></div>
                  </mat-error>
                </mat-form-field>

            </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="phone number"  [(ngModel)]="newUser.userphone" name="userphone" type="text" #userphone="ngModel"  minlength="5" maxlength="20">
              </mat-form-field>
         </div>       
       
        <div class="btnfrm">
            <button mat-button type="submit" [disabled]="!frm.valid"  class="btnOK" selected>register</button>

        </div>
    </form>
</div>
<!--
<div>
    <form novalidate  (submit)="SignUp(frm)" #frm="ngForm">
       
        <div><input [(ngModel)]="newUser.username" name="username"/></div> 
        <div> <input [(ngModel)]="newUser.userpassword" name="userpassword"/></div>
        <div><input [(ngModel)]="newUser.useremail" name="useremail"/></div> 
        <div> <input [(ngModel)]="newUser.userphone" name="userphone"/></div>
         <button style="width:50px; height: 20px;" type="submit" >submit</button>
    </form>
</div>
-->